@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url("https://fonts.googleapis.com/css?family=Comfortaa:300, 700|Bungee+Shade|Josefin+Sans:400");

body {
  background: #424242;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  letter-spacing: .03rem;
  line-height: 1;
  margin: 0 auto;
}
h1 {
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
}
h2 {
  font-size: 2.0rem;
  display: inline-block;
  font-weight: 300;
  line-height: 1;
  padding: 0;
  margin: 0;
}
div {
  
}
a {
  color: #133875;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}
.number {
  font-family: 'Bungee Shade', cursive;
  font-size: 3.5rem;
}
.small {
  font-size: 2rem;
  line-height: 50px;
}
.fund {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 50px;
}
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
.left {
  float: left;
}
.clear {
clear: both;
}
.center {
  text-align: center;
}
.buysblock {
  background: rgb(38,168,226);
}
.commentsblock {
  background: rgb(39,183,121);
}

.metroblock {
  width: 21em;
  padding: 0em 1em 1em 1em;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin: 1em;
}

.metroblock h1, .metroblock h2, .metroblock .icon {
  font-weight: 300;
  margin: 0;
  padding: 0;
}
.metroblock h1, .metroblock .icon {
  font-size: 7em;
  text-align: center;
}
.metroblock .icon {
  margin-right: .2em;
}

/*
 * D3
 */
/* Dashboard */
path {  stroke: #fff; }
path:hover {  opacity:0.9; }
rect:hover {  fill: #EF3B00; }
.axis {  font: 10px sans-serif; }
.legend tr{    border-bottom:1px solid grey; }
.legend tr:first-child{    border-top:1px solid grey; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {  display: none; }
.legend{
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
.legend td{
    padding:4px 5px;
    vertical-align:bottom;
}
.legendFreq, .legendPerc{
    align:right;
    width:50px;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  z-index: 10;
}
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(1fr, 500px);
}

@media (min-width: 34em) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }
}

.heading {
  grid-row: span 3;
}

.intro {
  grid-row: span 2;
}
.graph {
  grid-row: span 4;
}
@media (min-width: 34em) {
  .intro {
    grid-column: span 3;
  }
}
.grid {
  color: #fff;
  padding: .85rem 1rem;
}
.grid:nth-of-type(1) {
  background: #247BA0;
}

.grid:nth-of-type(2) {
  background: #3C6E71;
}

.grid:nth-of-type(3) {
  background: #238077;
}

.grid:nth-of-type(4) {
  background: #284B63;
}

.grid:nth-of-type(5) {
  background: #247BA0;
}

.grid:nth-of-type(6) {
  background: #FFFFFF;
}

.grid:nth-of-type(7) {
  background: #284B63;
}

.grid:nth-of-type(8) {
  background: #69971a;
}

.grid:nth-of-type(9) {
  background: #3f8a52;
}

#dashboard {
  background-color: transparent; 
  color: #1e1e1e;
  position: relative;
  min-height: 335px;
}

#dashboard .legend {
  width: 100%;
}


@media (max-width: 34em) {
  #dashboard svg {
    width: 100% !important;
  }
}
.dashboard-pointer {
  padding: 0px;
  width: 100%;
  text-align: center;
  color: #1e1e1e;
}

/* preloader */
#spinner,
#spinner2,
#spinner3,
#spinner4 {
  position: relative;
  min-height: 90px;
}
#spinner2 h2,
#spinner3 h2,
#spinner4 h2 {
  display: none;
}
